body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    text-align: center;
    padding: 50px 0;
    background-image: url('https://th.bing.com/th/id/R.91aff7a14e1847264ab9e5d610aaa3ea?rik=qFV82a4rRYVCpA&riu=http%3a%2f%2fdeveloperguru.in%2fdata1%2fimages%2ffull-stack.jpg&ehk=qYidwOHMsz3ggqZpp%2bGw2hIOFmNFkQmuwDlr0Im2fHQ%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: top;
    color: #ca0769;
    height: 40vh;
    overflow: hidden;
  }
  #cta h1 {
    font-size: 4em;
    margin: 0;
    margin-top: 10px;
    text-shadow: 2px 2px 2px #00000072;
  }

  #cta h1 span {
    color: #ff00aa;
  }

  section {
    padding: 50px 20px;
    text-align: center;
  }
  button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #9504b9;
    color: #0a0303;
    border: none;
    cursor: pointer;
  }

  section#form {
    background-color: #0c020ab4;
  }

  form {
    margin: 0 auto;
    max-width: 350px;
    text-align: left;
    margin-bottom: 100px;
  }
  form label {
    display: block;
    margin-bottom: 5px;
  }
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #030101;
    border-radius: 5px;
  }
  form button {
    width: 50%;
    margin-left: 25%;
  }
  footer {
    text-align: center;
    background-color: #010208;
    color: #840abd;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  